/chain
/subtensor

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macos
.DS_Store

# C extensions
*.so

# Environments
.env
.venv
venv/
venv.bak/
*.env

# sample code for tests
/samples

# contract dependencies
/node_modules